<html>
<head>
<title>Django File Upload - cairocoders</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container" style="padding:20px;">
    <div class="row">
        <div class="col-12">
            <p><h1>Resume</h1></p>
            <form method="POST" class="post-form" enctype="multipart/form-data">  
                    {% csrf_token %}  
                    {{ form.as_p }}  
                <button type="submit" class="btn btn-primary">Save</button>  
            </form>  
        </div>
    </div>
</div>
</body>  
</html>